@font-face { 
    font-family:Condensed-medium;
    src: url('../FONTS/heroiccondensed-medium-webfont.ttf');
}
@font-face { 
    font-family:Condensed-bold;
    src: url('../FONTS/heroiccondensed-bold-webfont.ttf');
}
@font-face { 
    font-family:Condensed-heavy;
    src: url('../FONTS/heroiccondensed-heavy-webfont.ttf');
}
@font-face { 
    font-family:Condensed-black;
    src: url('../FONTS/heroiccondensed-black-webfont.ttf');
}

*{margin: 0;padding: 0;box-sizing: border-box;font-family: Lato;}

$font:rgb(83, 83, 83);


ul{
    list-style-type: none;
}
.flex{
    display:flex;
    align-items: center;
}
.relative{
    position:relative;
}
.absolute{
    position:absolute;
}
.max-width{
    position:relative;
    left:50%;
    transform:translateX(-50%);
    max-width:65rem;
}
.bold{
    font-weight: 700;
}
.heavy{
    font-weight: 800;
}
.black{
    font-weight: 900;
}
.italic{
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.whole-header-container{
    width:100%;
    color:grey;

    .upper{
        justify-content: space-between;
        width:100%;

        .left,
        .right{
            hr{
                height:.5rem;
                margin:0 .5rem;
            }
            ul{
                li{
                    font-size: .7rem !important;
                    cursor:pointer;
                }
            }
        }
    }
    .down{
        justify-content: space-between;
        width:100%;
        padding:.5rem 0;
        .logo{
            img{
                width:12rem;
            }
        }
        .medium{
            left:-1.4rem;
            ul{
                li{
                    margin:0 .5rem;
                    font-size: .8rem;
                    cursor:pointer;
                }
            }
        }
        .search{
            
            input{
                padding:.2rem .5rem;
                font-size: .8rem;
                border:1px solid rgb(202, 201, 201);
            }
            img{
                margin-left: .5rem;
                width:1.5rem
            }
        }
    }
}

.whole-main-container{
    animation: opacity 1s .2s linear forwards ;
    opacity:0;
    transition:.3s all;
    margin-top: 3rem;
    overflow-x: hidden;

    .hero-section{
        justify-content: space-between;
        .text-container{
            color:#FF2941;
            font-size: 2rem;
            letter-spacing: .3rem;

            .pre-title-container{
                overflow: hidden;
                top:-10rem;
                display:flex;
                justify-content: center;
                align-items: center;

                .pre-title{
                    font-family: Condensed-black;  
                    font-size: 1.8rem;
                    transition:.4s all;
                    transform:translateY(10rem);
                    animation: slideUp 1.4s .1s linear forwards;
                }
            }
            .first{
                font-size: 21rem;
                top:5.5rem;
                left:-1rem;
                span{
                    font-family: Condensed-bold;  
                    margin-right: 4rem;
                    transform:translateY(2rem);
                    opacity:0;
                }
                span:nth-child(1){
                    animation:fadeUp .7s .9s ease-out forwards;
                }
                span:nth-child(2){
                    animation:fadeUpAndGlitch 1.6s 1s ease-out forwards;
                }
                span:nth-child(3){
                    animation:fadeUp .7s 1.2s ease-out forwards;
                }
                span:nth-child(4){
                    animation:fadeUp .7s 1.4s ease-out forwards;
                }
                span:nth-child(5){
                    animation:fadeUp .7s 1.5s ease-out forwards;
                }
                img{
                    width:16rem;
                    top:-.3rem
                }
            }
            .second{
                top:23rem;
                left:26rem;
                span{
                    font-family: 'Condensed-bold';
                    font-size: 21rem;
                    margin-right: 1rem;
                    transform:translateY(2rem);
                    opacity:0;
                }
                span:nth-child(1){
                    animation:fadeUp .7s 1.5s ease-out forwards;
                }
                span:nth-child(2){
                    animation:fadeUp .7s 1.6s ease-out forwards;
                }
                span:nth-child(3){
                    animation:fadeUp .7s 1.7s ease-out forwards;
                }
                span:nth-child(4){
                    animation:fadeUp .7s 1.8s ease-out forwards;
                }
                
            }
            .season{
                margin-top:9rem;
                font-family: Condensed-black;
                font-size: 2.5rem;
                color:#012756;
                letter-spacing: .5rem;
                span{
                    font-family: Condensed-black;
                    color:#FF2941
                }
            }
            .collab{
                color:#012756;
                font-size: 1.2rem;
                width:18%;
                margin-top: 2rem;
                font-family: 'Condensed-black';
            }
            .leyend{
                color:#012756;
                font-size: .7rem;
                margin-top: 6rem;
                letter-spacing: .1rem;
                line-height: 1.5;
                width:21%;
            }
        }
        .img-container{
            position: relative;
            background:url('../assets/imgs/tommy-denim__header-men.jpg') no-repeat 40% top/150%;
            width:50rem; height:50rem;
            z-index: -1;
        }
        .img-container::after{
            content:'';
            position:absolute;
            right:2rem;top:-1rem;            
            height:40%; width: 60%;
            background:white;
            animation:slide1 1.2s cubic-bezier(.72,.19,.41,.97) forwards;
            transition:.3s all;
        }
        .img-container::before{
            content:'';
            position:absolute;
            right:0;top:20%;            
            height:40%; width: 30%;
            background:white;
            animation:slide2 1.1s  cubic-bezier(.72,.19,.41,.97) forwards;
            transition:.3s all;
        }
        .guy-arm{
            width:16rem;
            left:21rem;
            top:6.4rem;
            z-index: 100;
        }
    }
    .video-container{
        top:-1rem;
        left:6rem;
        z-index: -2;

        .vjs-big-play-button{
            left:50%; top:50%;
            transform:translate(-50%);
            background-color: #FF2941;
            width: 3rem;
            height:3rem;
            border-radius: 200px;
            font-size: 1rem;
            border:none;

            .vjs-icon-placeholder::before{
                margin-top:.7rem;
            }
        }
        .vjs-big-play-button::before{
            content:'';
            width:7rem; height:7rem;
            border-radius: 200px;
            border:2px solid #FF2941;
            left:50%;top: 50%;
            transform:translate(-50%, -50%);
            position:absolute;
            transition:.4s all;
        }
        .vjs-big-play-button:active::before{
            width:5rem; height:5rem;
            background:radial-gradient(#FF2941 40%,#ff29428c 40%);
            opacity: .4;
        }

        .vjs-control-bar{
            background-color: rgba(0, 0, 0, 0);
            height:100%; width:100%;

            .vjs-play-control{
                position:absolute;
                width: 6rem;
                height:6rem;
                border-radius: 200px;
                left:50%; top:50%;
                transform:translate(-50%, -50%);
                background:radial-gradient(#FF2941 40%,#ff29428c 40%);
                outline:none;

                .vjs-icon-placeholder::before{
                    margin-top:2rem;
                }

            }

            .vjs-progress-control{
                width:40%; height:40%;
                border-radius: 200px;
                background-color: rgba(0,0,0,0);
                display:none;

                .vjs-progress-holder{
                    background-color:#FF2941
                }
            }
            

            .vjs-volume-panel,
            .vjs-remaining-time,
            .vjs-picture-in-picture-control,
            .vjs-fullscreen-control{
                display:none;
            }
        }
            
    }
    
}

@keyframes opacity{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@keyframes slide1 {
    from{
        transform:translateX(0);
    }
    to{
        transform: translateX(90%);
    }
}
@keyframes slide2 {
    from{
        transform:translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}
@keyframes slideUp {
    from{
        transform:translateY(10rem);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes fadeUp{
    from{
        opacity:0;
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
@keyframes fadeUpAndGlitch{
    0%{
        opacity:0;
    }
    15%{
        opacity:1;
    }
    20%{
        transform: translate(1rem,0);
    }
    21%{
        transform: translateX(0);
    }
    80%{
        transform: translateX(0);
    }
    90%{
        transform: translateX(1rem);
    }
    91%{
        transform: translateX(0);
    }
    99%{
        transform: translateX(1rem);
    }
    100%{
        opacity:1;
        transform: translate(0,0);
    }
}